{% extends 'base.html' %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <div>
        <blockquote cite="">
            <p class="lead">为规范全省国税系统在核心征管系统业务操作，
                    充分发挥各级税务干部参与编写操作规范积极性，
                    省局研究决定建设贵州省国税核心征管系统操作规范平台，供各地使用。
            </p>
        </blockquote>
         
        <p class="lead"><strong>建设理念:</strong>
            功能精简、流程清晰、操作简便，目录查找，业务是什么、流程怎么做，注意事项是什么。
            因金税三期核心征管系统业务流程不断更新整合，本操作流程部分内容未能及时更新补充，
            故存在本流程与实际操作不一致的情况。
            因此，各税务人员在实际操作中，若遇到此类问题，
            请及时在该流程页面提出反馈意见或直接通过国税通上报省局，以便省局及时修改完善。
        </p>
        <ul class="list-group">
                <li class="list-group-item disabled">
                        联系人：
                </li>
            <li class="list-group-item">余建忠：13984806628(516629)</li>
            <li class="list-group-item">代  攀：18585508574 </li>
            <li class="list-group-item">吴  坤：15285155158</li>
        </ul>
    </div>
{% endblock %}
    
